.action-block {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 90px;
  width: calc(50% - 10px);
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  padding: 16px 16px;
  font-family: Arial, sans-serif;
  margin: 0 5px 10px;

  &__image {
    flex: 0 0 70px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 16px;
    text-align: center;

    img {
      width: auto;
      display: block;
    }

    span {
      height: 17px;
      font-size: 14px;
      font-weight: bold;
      color: #444444;
      text-transform: uppercase;
      display: block;
      padding-top: 4px;
    }
  }

  &__title {
    height: 16.5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #444444;
    padding-bottom: 5px;
  }

  &__text {
    font-size: 13px;
    line-height: 1.31;
    color: #666666;
  }

  &__ribbon {
    position: absolute;
    left: -2px;
    top: -2px;
    z-index: 1;
    overflow: hidden;
    width: 54px;
    height: 54px;
    text-align: right;
    font-family: Arial, sans-serif;
    font-weight: bold;

    span {
      letter-spacing: -0.4px;
      font-size: 13px;
      line-height: 18px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      transform: rotate(-45deg);
      width: 100px;
      display: block;
      background: #ff9000;
      box-shadow: 0 3px 8px -5px rgba(0, 0, 0, 1);
      position: absolute;
      top: 8px;
      right: -14px;
    }
  }
}

.action-block {
  &--type {
    width: 100%;
  }

  &__form {
    display: flex;
    padding: 5px 0 0;
    input[type="text"] {
      margin-right: 7px;
      width: 264px;
    }
  }

  &__signature {
    flex:0 0 171px;
    height: 71px;
    border-radius: 1.5px;
    background-color: #fcfcfc;
    border: solid 1px #cccccc;
    font-family: 'Dancing Script', cursive;;
    font-size: 30px;
    line-height: 1;
    color: #444444;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .action-block {
    width: 100%;
  }
  .action-block--type {
    display: none;
  }
}